* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: sans-serif;
font-size: 14px;
color: #FFFFFF;
text-rendering: optimizeSpeed;
text-rendering: optimizeLegibility;
text-rendering: geometricPrecision;
}
 
html, body{
height: 100%;
width: 100%;
background-color: #141414;
user-select: none;
-webkit-font-smoothing: antialiased;
}

body::-webkit-scrollbar{
    width: 16px;
}
body::-webkit-scrollbar-track{
    background: #141414;
}
body::-webkit-scrollbar-thumb{
    background: linear-gradient(180deg, #181414 0%, #f0f0f0ae 100%);
}

#sidebar-container{
    position: fixed;
    top: 0%;
    left: 0%;
    width: 260px;
    height: 100vh;
    background-color: #151615;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
    border-right: 1px solid #27282af0;
    z-index: 10; 
    overflow: hidden;
    display: block;
}

#sidebar-bg-image1{
    position: absolute;
    top: 0%;
    width: 90%;
    height: 50%;
    /* transform: scale(1.2); */
    overflow: hidden;
    background-color: #00000017;
    background-image: url('assets/particles.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    filter: blur(70px);
    animation: moveUpDown 3s ease-in-out infinite;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    opacity: 0.7;
}

#sidebar-bg-image2{
    position: absolute;
    top: 50%;
    width: 90%;
    height: 50%;
    /* transform: scale(1.2); */
    overflow: hidden;
    background-color: #00000017;
    background-image: url('assets/particles.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    filter: blur(70px);
    animation: moveUpDown 3s ease-in-out infinite;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    opacity: 0.7;
}

@keyframes moveUpDown {
    0%, 100% {
        transform: translateY(0);
        scale: 1;
    }
    50% {
        transform: translateX(10px);
        transform: translateY(-15px);
        scale: 0.9;
        filter: blur(50px);
    }
}

#sidebar-header-bottom-container{
    /* background-color: rgb(255, 255, 255); */
    height: 100vh;
    width: 100%;
    position: relative;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 24px;
}

#sidebar-head-container{
    /* position: relative */
    /* background-color: green; */
    height: 455px;
    width: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#sidebar-empty-162{
    height: 67px;
    width: inherit;
    /* background-color: red; */
}

#sidebar-bottom-container{
    position: relative;
    height: 183px;
    width: inherit;
    background-color:#14141448;
    /* bottom: 0%; */
    border-top: 1px dashed #424345ba;
}

#sidebar-head-header{
    height: 50px;
    width: inherit;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#sidebar-menu{
    /* background-color: rgb(137, 33, 235); */
    position: relative;
    height: 369px;
    width: inherit;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 36px;
}

#header-image{
    height: 50px;
    width: 50px;
    background-image:url('assets/header-image.jpg') ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 18%;
    flex-shrink: 0;
}

#header-name-status{
    position: relative;
    top: 0%;
    left: -8%;
    height: 48px;  /* 46px */
    width: 1fr;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#header-name{
    height: 20px;
    width: 100%;
}

#header-status{
    height: 20px;
    width: 100%;
}
    
#header-name h1{
    font-family: "Reenie Beanie", serif;
    font-size: 22px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: -0.7px;
}
#header-status p{
    color: #909193;
    font-family: "Manrope", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 15px;
    letter-spacing: -0.8px;
}

#menu{
    height: 100%;
    width: 87.5%;
    /* background-color: purple; */
}

.menu-item{
    cursor: pointer;
}
.menu-item{
    height: 44px;
    width: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.menu-item-cont{
    height: 24px;
    width: 104px;
    display: flex;
    align-items: center;
    gap: 8px;
}

i{
    font-size: 16px;
    color: rgba(255, 255, 255, 0.505);
    font-weight: 100;
    padding-left: 1px;
}

.menu-item a{
    text-decoration: none;
    font-family: "Manrope", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 14px;
    letter-spacing: 0.1px;
    color:rgba(255, 255, 255, 0.745);
}

#Home{
    height: 44px;
    width: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    background-color: #1c1f1ec3;
    border: 0.5px solid #27282A;
    color: rgba(255, 255, 255, 0.745);
    cursor: pointer;
}

#Home .menu-item-cont{
    height: 24px;
    width: 104px;
    display: flex;
    align-items: center;
    gap: 8px;
}

#Home .menu-item-cont i{
    font-size: 16px;
    color: rgb(255, 255, 255);
    font-weight: 100;
}

#Home .menu-item-cont a{
    text-decoration: none;
    font-family: "Manrope", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    letter-spacing: 0.1px;
    color:rgb(255, 255, 255);
}

.menu-item:hover{
    background-color: #1c1f1ec3;
}

.menu-item:hover a {
    color: #ffffff; 
}

.menu-item:hover i {
    color: #ffffff; 
}

#menu-bottom{
    padding-top: 30px;
}

#menu-bottom p{
    font-family: "Manrope", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    letter-spacing: 0.1px;
    color:rgba(255, 255, 255, 0.469);
    padding-left: 12px;
    padding-bottom: 15px;
}
#arrow{
    padding-left: 100px;
    visibility: hidden;
}

.hover-arrow:hover #arrow{
    visibility: visible;
}

#sidebar-bottom-date-time-location{
    height: 107px;
    width: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    cursor: default;
    user-select: none;
    /* background-color: red; */
}

#date-time-cont{
    height: 87px;
    width: 224px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: blue; */
    gap: 7px;
    padding-left: 25px;
    border-radius: 10px;
    border: 1px dashed #424345ba;
    background-image: url(assets/ButtonBg.png);
    box-shadow: rgba(255, 255, 255, 0.04) 0px 0.602187px 2.04744px -0.833333px inset, rgba(255, 255, 255, 0.04) 0px 2.28853px 7.78101px -1.66667px inset, rgba(255, 255, 255, 0.04) 0px 10px 34px -2.5px inset;
}

#date-time p{
    width: 145px;
    height: 18px;
    font-family: "Roboto Mono", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    letter-spacing:-0.2px;
    color:rgba(255, 255, 255, 0.745);
    /* background-color: red; */
}

#location p{
    width: 162px;
    height: 21px;
    font-family:  sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    letter-spacing: 0.3px;
    color:rgba(255, 255, 255, 0.483);
    padding-top: 5px;
    /* background-color: red; */
}

#sidebar-bottom-button{
    height: 42px;
    width: 100%;
    margin-top: 14px;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
}

#bottom-button{
    height: 42px;
    width: 85%;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 1px dashed #424345ba;
    box-shadow: rgba(255, 255, 255, 0.07) 0px 0.557334px 1.672px -1.125px inset, rgba(255, 255, 255, 0.063) 0px 1.69015px 5.07046px -2.25px inset, rgba(255, 255, 255, 0.05) 0px 4.46786px 13.4036px -3.375px inset, rgba(255, 255, 255, 0.008) 0px 14px 42px -4.5px inset;
}

#bottom-button span i{
    font-size: 20px;
    padding-right: 8px;
    color: rgba(255, 255, 255, 0.851);
}

#bottom-button p{
    display: inline-block;
    font-family:  sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    letter-spacing: 0.1px;
    color:rgba(255, 255, 255, 0.731);
}

#bottom-button:hover{
    background-color: #2E2F2D;
    cursor: pointer;
}



/* Main container */
#main-container{
    position: absolute;
    top: 0%;
    left: 0%; 
    margin-left: 260px;
    right: 0;
    height: 5172px;
    display: flex;
    flex-direction: column;
    /* flex-wrap: nowrap; */
    align-items: center;
    /* justify-content: center; */
    z-index: 2;
    /* background-color: paleturquoise; */
}

#blur-gradient{
    position: fixed;
    height: 156px;
    width: 100vw;
    /* background-color: #0000008e; */
    left: 0;
    top: 644px;
    pointer-events: none;
    filter: blur(16px);
}



/* PAGE 1 HOME */
#hero{
    position: relative;
    height: 606.5px;
    max-width: 800px;
    width: 100%; 
    /* background-color: rgba(34, 255, 41, 0.159); */
    border: 1px dashed #42434577;
    border-bottom: 0px;
    overflow: hidden;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    z-index: 8;
}

#star-bg{
    height: 100%;
    width: 100%;
    /* z-index: 15; */
}

#meteor-frame{
    position: absolute;
    height: 396px;
    width: 730px;
    top: -38px;
    right: 9px;
    left: calc(49.468085106383% - 730px / 2);
    opacity: 0.3;
    /* z-index: 15; */
}

/* base star out of 17 stars, for controlling position */
.star-container1{
    height: 1px;
    left: -150px;
    position: absolute;
    top: 40px;
    width: 110px;
    z-index: 6;
    pointer-events: none;
    opacity: 0;
    transform: rotate(22.6deg);
    /* translate x & y change in animation*/
    animation: starfall 5s linear infinite;
    animation-delay: 1.7s;
}

/* insides of star (constant) */
.star-light-cont{
    display: contents;
}

.star-light-out{
    position: relative;
    overflow: visible;
    background: linear-gradient(270deg, rgb(252, 252, 252) 0%, rgba(255, 255, 255, 0) 100%);
    height: 100%;
    width: 100%;
    border-radius: 2px;
    opacity: 1;
}

.star-light-in{
    background-color: rgba(255, 255, 255, 0.838);
    opacity: 1;
    border-radius: 1px;
    box-shadow: rgb(255, 255, 255) 0px 0px 6px 1px;
    bottom: 0;
    flex: none;
    overflow: visible;
    position: absolute;
    right: 0;
    top: 0;
    width: 2px;
}

/* star falling animation - normal*/
@keyframes starfall {
    0% {
        transform: translateX(0) translateY(0) rotate(22.6deg);
        opacity: 1;
    }

    60% {
        transform: translateX(390px) translateY(170) rotate(22.6deg);
        opacity: 0.6;
    }

    100% {
        transform: translateX(780px) translateY(325px) rotate(22.6deg);
        opacity: 0;
    }
}

/* animation with time interval */
@-webkit-keyframes starfall-ti {
    0% , 40% {
        -webkit-transform: translateX(0) translateY(0) rotate(22.6deg) scale(1.3);
        opacity: 1;
    }

    60% , 100% {
        -webkit-transform: translateX(780px) translateY(325px) rotate(22.6deg) scale(0.4);
        opacity: 0;
    }
}

@keyframes starfall-ti {
    0% , 40% {
        transform: translateX(0) translateY(0) rotate(22.6deg) scale(1.3);
        opacity: 1;
    }

    60% , 100% {
        transform: translateX(780px) translateY(325px) rotate(22.6deg) scale(0.4);
        opacity: 0;
    }
}

/* other stars */
.star-container2{
    height: 1px;
    left: -150px;
    position: absolute;
    top: 80px;
    width: 100px;
    z-index: 6;
    pointer-events: none;
    opacity: 0;
    transform: rotate(22.6deg);
    /* translate x & y change in animation*/
    animation: starfall 5s linear infinite;
    animation-delay: 1.3s;
}

.star-container3{
    height: 1px;
    left: -145px;
    position: absolute;
    top: 350px;
    width: 100px;
    z-index: 6;
    pointer-events: none;
    opacity: 0;
    transform: rotate(22.6deg);
    /* translate x & y change in animation*/
    -webkit-animation: starfall-ti 12s infinite ease-out;
    animation: starfall-ti 12s infinite ease-out;
    animation-delay: 3s;
}

.star-container4{
    height: 1px;
    left: -20px;
    position: absolute;
    top: -30px;
    width: 100px;
    z-index: 6;
    pointer-events: none;
    opacity: 0;
    transform: rotate(22.6deg);
    /* translate x & y change in animation*/
    animation: starfall 5s ease-out infinite;
    animation-delay: 2s;
}

.star-container5{
    height: 1px;
    left: -120px;
    position: absolute;
    top: 160px;
    width: 100px;
    z-index: 6;
    pointer-events: none;
    opacity: 0;
    transform: rotate(22.6deg);
    /* translate x & y change in animation*/
    animation: starfall 5s ease-out infinite;
    animation-delay: 1.5s;
}

.star-container6{
    height: 1px;
    left: -10px;
    position: absolute;
    top: -30px;
    width: 100px;
    z-index: 6;
    pointer-events: none;
    opacity: 0;
    transform: rotate(22.6deg);
    /* translate x & y change in animation*/
    -webkit-animation: starfall-ti 10s infinite ease-out;
    animation: starfall-ti 10s infinite ease-out;
    animation-delay: 2.5s;
}

.star-container7{
    height: 1px;
    left: 50px;
    position: absolute;
    top: -40px;
    width: 100px;
    z-index: 6;
    pointer-events: none;
    opacity: 0;
    transform: rotate(22.6deg);
    /* translate x & y change in animation*/
    animation: starfall 5s ease-out infinite;
    animation-delay: 3s;
}

.star-container8{
    height: 1px;
    left: -145px;
    position: absolute;
    top: 15px;
    width: 100px;
    z-index: 6;
    pointer-events: none;
    opacity: 0;
    transform: rotate(22.6deg);
    /* translate x & y change in animation*/
    animation: starfall 5s ease-out infinite;
    animation-delay: 1s;
}

.star-container9{
    height: 1px;
    left: 200px;
    position: absolute;
    top: -30px;
    width: 100px;
    z-index: 6;
    /* border-top: 1px solid rgb(255, 255, 255); */
    pointer-events: none;
    opacity: 0;
    transform: rotate(22.6deg);
    /* translate x & y change in animation*/
    -webkit-animation: starfall-ti 12s infinite linear;
    animation: starfall-ti 12s infinite linear;
    animation-delay: 1.5s;
}

.star-container10{
    height: 1px;
    left: 290px;
    position: absolute;
    top: -40px;
    width: 100px;
    z-index: 6;
    pointer-events: none;
    opacity: 0;
    transform: rotate(22.6deg);
    /* translate x & y change in animation*/
    animation: starfall 5s ease-out infinite;
    animation-delay: 1.3s;
}

.star-container11{
    height: 1px;
    left: 120px;
    position: absolute;
    top: -40px;
    width: 100px;
    z-index: 6;
    pointer-events: none;
    opacity: 0;
    transform: rotate(22.6deg);
    /* translate x & y change in animation*/
    -webkit-animation: starfall-ti 12s infinite linear;
    animation: starfall-ti 12s infinite linear;
    animation-delay: 3.2s;
}

.star-container12{
    height: 1px;
    left: 140px;
    position: absolute;
    top: -20px;
    width: 100px;
    z-index: 6;
    pointer-events: none;
    opacity: 0;
    transform: rotate(22.6deg);
    /* translate x & y change in animation*/
    -webkit-animation: starfall-ti 11s infinite linear;
    animation: starfall-ti 11s infinite linear;
    animation-delay: 3.3s;
}

.star-container13{
    height: 1px;
    left: -150px;
    position: absolute;
    top: calc(32.00000000000002% - 1px / 2);
    width: 100px;
    z-index: 6;
    pointer-events: none;
    opacity: 0;
    transform: rotate(22.6deg);
    /* translate x & y change in animation*/
    -webkit-animation: starfall-ti 10s infinite linear;
    animation: starfall-ti 10s infinite linear;
    animation-delay: 2.5s;
}

.star-container14{
    height: 1px;
    left: -120px;
    position: absolute;
    top: 10px;
    width: 100px;
    z-index: 6;
    pointer-events: none;
    opacity: 0;
    transform: rotate(22.6deg);
    /* translate x & y change in animation*/
    -webkit-animation: starfall-ti 8s infinite linear;
    animation: starfall-ti 8s infinite linear;
    animation-delay: 2.8s;
}

.star-container15{
    height: 1px;
    left: -30px;
    position: absolute;
    top: -20px;
    width: 100px;
    z-index: 6;
    pointer-events: none;
    opacity: 0;
    transform: rotate(22.6deg);
    /* translate x & y change in animation*/
    -webkit-animation: starfall-ti 12s infinite linear;
    animation: starfall-ti 12s infinite linear;
    animation-delay: 1.5s;
}

.star-container16{
    height: 1px;
    left: -180px;
    position: absolute;
    top: calc(40.00000000000002% - 1px / 2);
    width: 100px;
    z-index: 6;
    pointer-events: none;
    opacity: 0;
    transform: rotate(22.6deg);
    /* translate x & y change in animation*/
    -webkit-animation: starfall-ti 12s infinite linear;
    animation: starfall-ti 12s infinite linear;
    animation-delay: 1.9s;
}

.star-container17{
    height: 1px;
    left: -150px;
    position: absolute;
    top: calc(43.00000000000002% - 1px / 2);
    width: 100px;
    z-index: 6;
    pointer-events: none;
    opacity: 0;
    transform: rotate(22.6deg);
    /* translate x & y change in animation*/
    -webkit-animation: starfall-ti 12s infinite linear;
    animation: starfall-ti 12s infinite linear;
    animation-delay: 4s;
}

/* star near button */
.star-container18{
    height: 1px;
    left: -145px;
    position: absolute;
    top: 390px;
    width: 100px;
    z-index: 6;
    pointer-events: none;
    opacity: 0;
    transform: rotate(22.6deg);
    /* translate x & y change in animation*/
    -webkit-animation: starfall-ti 12s infinite linear;
    animation: starfall-ti 12s infinite linear;
    animation-delay: 2.7s;
}

#hero-content-container{
    /* position: absolute; */
    position: relative;
    margin-left: 47px;
    margin-right: 40px;
    height: 486.5px;
    width: 704px;
    width: 100%;
    margin-top: 80px;
    /* background-color: rgba(255, 0, 0, 0.221); */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 8;
}

#hero-content-upper{
    height: 268px;
    width: 100%;
    /* background-color: #ffffff72; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: inherit;
}

#subtext-upper-image{
    height: 37px;
    width: 100%;
    /* background-color: rgba(0, 0, 255, 0.564); */
    display: flex;
    align-items: center;
    gap: 10px;
    z-index: inherit;
}

#subtext-image{
    height: 37px;
    width: 37px;
    background-image:url('assets/header-image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    flex-shrink: 0;
}

#subtext-upper-image p{
    height: 21px;
    max-width: 657px;
    width: 100%;
    color: #909193f3;
    font-family: "Manrope", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
    letter-spacing: -0.8px;
    z-index: inherit;
}

#hero-main-text{
    height: 211px;
    max-width: 430px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: inherit;
}

#hero-main-text h5{
    font-size: 37px;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    line-height: 45px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: -1.2px;
    flex: 1;
    flex-grow: 1;
    z-index: inherit;
}

#hero-main-text h6{
    color: #9e9fa0;
    font-family: "Manrope", serif;
    font-optical-sizing: auto;
    line-height: 28px;
    font-weight: 600;
    font-style: normal;
    font-size: 17px;
    letter-spacing: -0.7px;
    z-index: inherit;
}

#hero-contact-button-time{
    height: 42px;
    width: 100%;
    display: flex;
    align-items: center;
     /* background-color: burlywood; */
     z-index: inherit;
}

#hero-content-lower{
    height: 112px;
    width: 100%;
    /* background-color: rgb(247, 91, 91); */
    z-index: inherit;
}

#hero-contact-btn{
    height: 42.5px;
    width: 139.38px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid  rgba(255, 255, 255, 0.292);
    border-bottom-width: 0.5px;
    border-bottom-color: rgba(255, 255, 255, 0.131);
    border-left-width: 0.3px;
    border-right-width: 0.3px;
    /* background-color: rgba(255, 0, 0, 0.592); */
    background-color: rgba(26, 26, 26, 0.776);
    box-shadow: rgba(255, 255, 255, 0.243) 0px 0.602187px 1.08394px -0.916667px inset, rgba(255, 255, 255, 0.235) 0px 2.28853px 4.11936px -1.83333px inset, rgba(255, 255, 255, 0.204) 0px 10px 18px -2.75px inset, rgba(255, 255, 255, 0.03) 0px 0px 20px 1px;
    border-radius: 12px;
    flex-shrink: 0;
    cursor: pointer;
}

#hero-btn{
    height: 42.25;
    width: 107px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: white; */
}

#hero-btn i{
    font-size: 19px;
    color: #ffffff9b;
}

#hero-btn p{
    color: #ffffffce;
    font-family: "Manrope", serif;
    font-optical-sizing: auto;
    line-height: 28px;
    font-weight: 500;
    font-style: normal;
    font-size: 15px;
    letter-spacing: -0.3px;
    z-index: 8;
}

#hero-contact-button-time a{
    text-decoration: none;
    cursor: pointer;
}

#hero-time{
    color: #ffffff;
    font-family: "Manrope", serif;
    font-optical-sizing: auto;
    line-height: 16px;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    letter-spacing: 0.6px;
    margin-left: 20px;
}

#hero-contact-btn:hover{
    box-sizing: border-box;
    box-shadow: inset 0px 0.6021873017743928px 1.083937143193907px -0.9166666666666666px rgba(255, 255, 255, 0.24), inset 0px 2.288533303243457px 4.119359945838223px -1.8333333333333333px rgba(255, 255, 255, 0.2372), inset 0px 10px 18px -2.75px rgba(255, 255, 255, 0.2025), 0px 0px 20px 1px rgba(255, 255, 255, 0.03), 0px 0px 0px 4px rgba(255, 255, 255, 0.08);
    background-color: #2b2b2b;
    overflow: hidden;
    align-content: center;
    flex-wrap: nowrap;
    gap: 6;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.12);
}

#hero-contact-btn:hover i, p{
    color: #ffffff;
}

#hero-content-lower p{
    height: 28px;
    width: 100%;
    /* background: blue; */
    color: #ffffff9b;
    font-size: 16px;
    font-family: "Manrope", serif;
    font-optical-sizing: auto;
    line-height: 16px;
    font-weight: 500;
    font-style: normal;
    margin-top: 50px;
    letter-spacing: -0.1px;
}

#hero-lower-logo-cont{
    height: 24px;
    width: 100%;
    /* background-color: green; */
    display: flex;
    margin-top: 10px;
}

#lower-logo-1-2{
    height: 24px;
    width: 218px;
    /* background-color: #ffffff; */
    display: flex;
    justify-content: space-between;
}

#lower-logo-3-4{
    height: 24px;
    width: 167px;
    /* background-color: #ffffff; */
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
}

#lower-logo-1{
    height: 24px;
    width: 79px;
    /* background-color: purple; */
}

#lower-logo-2{
    height: 24px;
    width: 117px;
    /* background-color: purple; */
}

#lower-logo-3{
    height: 24px;
    width: 79px;
    /* background-color: purple; */
}

#lower-logo-4{
    height: 24px;
    width: 66px;
    /* background-color: purple; */
}

#hero-lower-logo-cont svg{
    width: 100%;
    height: 24px;
    opacity: 0.6;
    border-radius: 0px 0px 0px 0px;
}




/* PAGE 2 WORK */
#work{
    height: 710px;
    width: 100%;
    border: 1px solid #27282af0;
    /* background-color: red; */
    background-image: url(assets/WorkPageBg.png);
    background-repeat: repeat;
    background-position: center;
}












































#navbar-container{
    position: fixed;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
    z-index: 10;
    background: linear-gradient(rgb(20, 20, 20) 72%, rgba(105, 105, 105, 0) 100%) rgba(0, 0, 0, 0);
    /* background-color: rgb(81, 42, 42); */
    display: flex;
    justify-content: center;
    display: none;
}

#header-toggle-menu-cont{
    position: relative;
    height: 49.3px;
    max-width: 100%;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 15px;
    /* background-color: rgba(0, 0, 255, 0.617); */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header-image-name{
    height: 100%;
    width: 220px;
    /* background-color: #ffffff70; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header-toggle-menu-cont i{
    font-size: 28px;
    color: rgb(255, 255, 255);
    margin-bottom: 1px;
    display: block;
}

#header-name-nav{
    height: 20px;
    width: 100%;
}

#header-status-nav{
    height: 20px;
    width: 100%;
}

#header-name-nav h1{
    font-family: "Reenie Beanie", serif;
    font-size: 22px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: -0.7px;
}

#header-status-nav p{
    color: #909193;
    font-family: "Manrope", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 15px;
    letter-spacing: -0.8px;
}


/* for tablets */
@media only screen and (min-width: 810px) and (max-width: 999px) {
    #sidebar-container{
        display: none;
    }

    #navbar-container{
        display: block;
    }

    #main-container{
        margin-left: 0px;
        height: 7096px;
    }

    #hero{
        max-width: 100%;
        top: 71.5px;
    }

    #star-bg{
        position: absolute;
        top: -20px;
        left: -100px;
    }

    #hero-content-container{
        margin-left: 40px;
        margin-top: 63px;
    }

    #work{
        margin-top: 55px;
        height: 2586px;
        background-position: top;
    }
}

/* for mobile */
@media only screen and (min-width: 420px) and (max-width:810px){
    #sidebar-container{
        display: none;
    }

    #navbar-container{
        display: block;
    }

    #header-toggle-menu-cont{
        margin-left: 20px; 
        margin-right: 20px;
    }

    #header-image-name{
        width: 210px;
    }

    #header-name-nav h1{
        font-family: "Reenie Beanie", serif;
        font-size: 21px;  
        font-weight: 400;
        font-style: normal;
        letter-spacing: -1px;
    }

    #header-status-nav p{
        color: #909193;
        font-family: "Manrope", serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
        font-size: 15px;
        letter-spacing: -1px;
    }

    #main-container{
        margin-left: 0px;
        height: 6375px;
    }

    #hero{
        max-width: 100%;
        top: 71.5px;
    }

    #star-bg{
        position: absolute;
        top: -30px;
        left: 0px;
    }

    #hero-content-container{
        margin-left: 20px;
        margin-right: 21px;
        margin-top: 63px;
        height: 522px;
    }

    #hero-main-text h5{
        font-size: 33px;
        line-height: 38.3px;
        letter-spacing: -1.1px;
    }

    #hero-main-text{
        height: 190px;
    }

    #hero-content-upper{
        height: 248px;
    }

    #hero-content-lower{
        margin-top: 32px;
        height: 135px;
        /* background-color: blue; */
    }

    #hero-lower-logo-cont{
        flex-direction: column;
        align-items: flex-start;
    }

    #lower-logo-1-2{
        margin-bottom: 12px;
    }

    #lower-logo-3-4{
        margin-left: 0px;
    }

    #hero-content-lower p{
        margin-top: 4px;
    }

    #work{
        margin-top: 58px;
        height: 1564px;
        background-position: top;
    }
}


@media only screen and (max-width: 420px){
    #sidebar-container{
        display: none;
    }

    #navbar-container{
        display: block;
    }

    #header-toggle-menu-cont{
        margin-left: 20px; 
        margin-right: 20px;
    }

    #header-image-name{
        width: 210px;
    }

    #header-name-nav h1{
        font-family: "Reenie Beanie", serif;
        font-size: 21px;  
        font-weight: 400;
        font-style: normal;
        letter-spacing: -1px;
    }

    #header-status-nav p{
        color: #909193;
        font-family: "Manrope", serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
        font-size: 15px;
        letter-spacing: -1px;
    }

    #main-container{
        margin-left: 0px;
        height: 6375px;
    }

    #hero{
        height: 635px;
        max-width: 100%;
        top: 71.5px;
    }

    #hero-content-container{
        margin-left: 20px;
        margin-right: 21px;
        margin-top: 63px;
        height: 529px;
        /* background-color: #fb090937; */
    }

    #hero-main-text h5{
        font-size: 33px;
        line-height: 38.3px;
        letter-spacing: -1.1px;
    }

    #hero-main-text{
        height: 230px;
        /* background-color: blue; */
    }

    #hero-content-upper{
        height: 288px;
        /* background-color: red; */
    }

    #hero-content-lower{
        margin-top: 32px;
        height: 102px;
        /* background-color: rgba(0, 0, 255, 0.753); */
    }

    #star-bg{
        position: absolute;
        top: 40px;
        left: -70px;
        z-index: 20;
    }

    #subtext-upper-image p{
        font-size: 15px;
    }

    #hero-lower-logo-cont{
        flex-direction: column;
        align-items: flex-start;
    }

    #lower-logo-1-2{
        margin-bottom: 12px;
    }
    
    #lower-logo-3-4{
        margin-left: 0px;
    }

    #hero-content-lower p{
        margin-top: 4px;
    }

    #work{
        margin-top: 70px;
        height: 1564px;
        background-position: top;
    }
}
